<div class="col-xs-12 col-sm-4 col-md-6">
  <div class="ct-itemProducts ct-u-marginBottom30 ct-hover product-width" id="lists">
    <%= link_to listing, class: 'list-container' do %>
      <div class="ct-main-content list-height">
        <div class="ct-imageBox">
          <% if listing.logo.attached? %>
            <%= image_tag listing.logo, alt: "", class: "image-style" %>
            <i class="fa fa-eye"></i>
          <% end %>
        </div>

        <div class="ct-main-text">
          <div class="ct-product--tilte">
            <%= listing.business_name %>
          </div>

          <div class="ct-product--price">
            <span><%= listing.price %></span>
          </div>

          <div class="ct-product--description">
            <%= truncate_short_description listing.short_description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
