<% if session[:postcode].blank? %>
  <%= render "postcode" %>
<% end %>

<section>
  <div class="container" id="filters" style="width: 100%">
    <div class="row">
      <div class="col-lg-4 col-lg-push-8 map-style" id="map">
        <div class="ct-js-googleMap ct-googleMap ct-googleMap-2col ct-js-googleMap--group" data-location="Richmond" data-icon="assets/images/marker-house.png" data-display-desc="true" data-zoom="14" data-height="1750" >
        </div>
      </div>
      <div class="col-lg-3 col-lg-pull-4">
        <div class="ct-u-marginTop80 hidden-md hidden-lg"></div>
        <%= render "shared/filters", css_class: "form ct-formSearch--fullWidth ct-u-marginBottom50 ct-u-paddingTop30" %>
      </div>

      <div class="col-lg-5 col-lg-pull-4">
        <div class="row">
          <div id="listings">
            <% if @listings.present? %>
              <%= render @listings %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none">
      <%= paginate @listings if @listings.present? %>
    </div>

    <div class="ct-u-marginBottom30 hidden-lg hidden-md"></div>
  </div>
</section>

<div id="loader">
</div>

<% content_for :js_init do %>
  SearchFilters.fetch_lists();
  SearchFilters.load_lists();
  <% if session[:postcode].present? %>
    SearchFilters.disable_content(false);
  <% else %>
    SearchFilters.disable_content(true);
  <% end %>
  Map.initmap(<%= "#{@listings.ids}" if @listings.present? %>);
<% end %>
