<div id="listing-header">
  <%= listing_json(@listing) %>

  <header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image=<%= asset_url(set_banner(get_activity_type_value(@listing.activity_type))) %> data-bg-image-mobile=<%= asset_url(set_banner(get_activity_type_value(@listing.activity_type))) %>>
    <div class="ct-mediaSection-inner">
      <div class="container">
        <div class="ct-u-displayTableVertical">
          <div class="col-md-8">
            <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
              <h2 class="text-uppercase listing-address"><%= @listing.business_name %></h2>
              <h2 class="text-uppercase listing-address"><%= @listing.address %></h2>
              <h4 class="text-uppercase"><%= @listing.location %></h4>
              <label class="ct-u-marginBottom10 text-uppercase"> <i class="<%= icon_class get_activity_type_value(@listing.activity_type) %>"></i>
                <%= @listing.activity_type %>
              </label>
              <br>
            </div>
          </div>

          <div class="col-md-4 ct-u-marginTop30">
            <div class="ct-u-displayTableCell text-right">
              <% if user_signed_in? && @listing.owner?(current_user) %>
                <%= link_to edit_my_listing_path(@listing), class: "btn btn-sm btn-default btn-transparent--border btn-hoverWhite ct-u-text--white" do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <%= link_to my_listing_path(@listing), method: :delete, class: "btn btn-sm btn-default btn-transparent--border btn-hoverWhite ct-u-text--white" do %>
                  <i class="fa fa-trash-o" ></i>
                <% end %>
              <% end %>

              <div class="ct-buttonBox">
                <%= link_to "Back to Listings", listings_path,  class: "btn btn-default btn-transparent--border btn-hoverWhite ct-u-text--white" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<section class="ct-u-paddingBottom60" id="single-listing">
  <div class="container">
    <%= render "shared/errors", resource: @message %>
    <div class="ct-productMeta--single text-uppercase">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell text-left">
              <i class="fa fa-calendar"></i><h6>published on <%= @listing.created_at.strftime("%B %d, %Y %H:%M:%S") %></h6>
            </div>

            <div class="ct-u-displayTableCell text-left">
              <i class="fa fa-pencil-square-o"></i><h6>updated on <%= @listing.updated_at.strftime("%B %d, %Y %H:%M:%S") %></h6>
            </div>

            <div class="ct-u-displayTableCell text-right">
              <div class="fb-like" data-href="https://www.facebook.com/createITpl" data-layout="button" data-action="like" data-share="false"></div>
              <div class="g-plusone" data-size="medium" data-annotation="none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ct-section--products">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <% if @listing.premium? %>
            <div class="ct-gallery ct-u-marginBottom30">
              <div class="ct-owl-controls--type2" data-single="true" data-pagination="false" data-navigation="false" data-snap-ignore="true" id="sync1">
                <% @listing.images.each do |image| %>
                  <div class="item">
                    <% if image.variable? %>
                      <%= image_tag render_image(image), alt: "" %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="ct-navigationThumbnail">
                <div class="ct-owl-controls--type3" data-single="false" data-items="8" data-pagination="false" data-snap-ignore="true" id="sync2">
                  <% @listing.images.each do |image| %>
                    <div class="item">
                      <%= image_tag image, size: "78x74", alt: "" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-4">
              <% if @listing.premium? %>
                <div class="ct-heading ct-u-marginBottom20">
                  <h3 class="text-uppercase">Summary</h3>
                </div>

                <div class="ct-u-displayTableVertical ct-productDetails">
                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                      <span class="ct-fw-600">Activity Type</span>
                    </div>

                    <div class="ct-u-displayTableCell">
                      <span><%= @listing.activity_type %></span>
                    </div>
                  </div>

                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                      <span class="ct-fw-600">Age Range</span>
                    </div>

                    <div class="ct-u-displayTableCell">
                      <span><%= @listing.age_range %></span>
                    </div>
                  </div>

                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                      <span class="ct-fw-600">Location</span>
                    </div>

                    <div class="ct-u-displayTableCell">
                      <span><%= @listing.location %></span>
                    </div>
                  </div>

                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                       <span class="ct-fw-600">Opens at</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                      <span><%= @listing.opens_at.strftime("%H:%M:%S") if @listing.opens_at.present? %></span>
                    </div>
                  </div>

                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                      <span class="ct-fw-600">Closes at</span>
                    </div>

                    <div class="ct-u-displayTableCell">
                      <span><%= @listing.closes_at.strftime("%H:%M:%S") if @listing.closes_at.present? %></span>
                    </div>
                  </div>

                  <div class="ct-u-displayTableRow">
                    <div class="ct-u-displayTableCell">
                      <span class="ct-fw-600">Days</span>
                    </div>

                    <div class="ct-u-displayTableCell">
                      <% @listing.days_available.each do |day| %>
                        <span class="ct-price"><%= render_day(day) %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% elsif current_user == @listing.user %>
                <div class="alert alert-info ct-u-marginBottom60">
                  Is this your business? <br><br>
                  <u><%= link_to "Upgrade to premium listing now!", edit_listing_path(@listing) %></u>
                </div>
              <% end %>
            </div>

            <div class="col-md-8">
              <div class="ct-heading ct-u-marginBottom20">
                <h3 class="text-uppercase">Description</h3>
              </div>
              <p class="ct-u-marginBottom20">
                <%= @listing.description %>
              </p>
              <% if @listing.premium? %>
                <div class="ct-heading ct-u-marginBottom20">
                  <h3 class="text-uppercase">Listing Details</h3>
                </div>

                <div class="ct-u-displayTableVertical ct-productDetails--type2 ct-u-marginBottom20">
                  <div class="ct-u-displayTableCell">
                    <ul class="list-unstyled">
                      <% Listing::AMENITIES.each do |key, value| %>
                        <% next unless @listing.send(key) %>
                        <li>
                          <i class="fa fa-check-circle"></i>
                          <span class="text-capitalize"><%= value %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>

              <div class="ct-heading ct-u-marginBottom20">
                <h3 class="text-uppercase">Map</h3>
              </div>

              <div id="map" class="map-style" data-icon=<%= asset_url('map_icon.png') %>>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">

          <div class="ct-js-sidebar">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <div class="widget">
                  <div class="widget-inner">
                    <div class="ct-personBox text-left">
                      <div class="ct-imagePerson">
                        <%= render_logo @listing.logo %>
                      </div>

                      <div class="ct-personContent">
                        <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                          <h5 class="ct-fw-600"><%= @listing.manager_name %></h5>
                          <p><%= @listing.business_name %></p>
                        </div>

                        <div class="ct-personDescription  ct-u-paddingBottom10 ct-u-marginBottom20">
                          <ul class="list-unstyled ct-contactPerson">
                            <li>
                              <i class="fa fa-phone"></i>
                              <span><%= @listing.phone %></span>
                            </li>

                            <li>
                              <i class="fa fa-envelope-o"></i>
                              <span><%= @listing.email %></span>
                            </li>

                            <li>
                              <i class="fa fa-globe" aria-hidden="true"></i>
                              <span><%= link_to "Visit website", render_url(@listing.website), target: :blank %></span>
                            </li>
                          </ul>
                        </div>

                        <div class="ct-personContact">
                          <%= form_for @message, url: messages_path, html: { role: "form", class: "contactForm validateIt" } do |f| %>
                            <%= hidden_field_tag :listing_id, @listing.id %>
                            <div class="form-group">
                              <div class="ct-form--item">
                                <%= f.text_field :sender_name, id: "contact_name", required: true, class: "form-control input-lg ct-u-marginBottom10", placeholder: "Name" %>
                                <%= f.email_field :sender_email, id: "contact_email", required: true, class: "form-control input-lg ct-u-marginBottom10", placeholder: "Email" %>
                                <%= f.text_field :title, id: "contact_phone", required: true, class: "form-control input-lg ct-u-marginBottom10", placeholder: "Title" %>
                                <%= f.text_area :message, id: "contact_message", placeholder: "Message", class: "form-control input-lg", required: true %>
                              </div>
                              <%= f.submit "Send Message", class: "btn btn-warning text-capitalize center-block", id: "send-message-btn" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :js_init do %>
  Map.showPageMap(<%= render_coordinates(@listing) %>);
  Map.set_zoom(12);
<% end %>
