<p>
  Hi! I'm Kerrianne, and I run a new website called <%= link_to 'things for kids', root_url %>.
</p>

<p>
  I've created this website to save time for parents who are looking for activities for their children, aged 0-10.
</p>

<p>
  I've also created a free listing for you. You can view it <%= link_to 'here', listing_url(@listing) %>.
</p>

<p>
  We offer Premium listings, which give parents a full view of your business, help improve your SEO, load first in the our search results - and are affordable at only $59 per year.
</p>

<p>
  Premium listings include images, comprehensive filtering details like suitable age range, a 400 word description, logo, and more. You can see an example <%= link_to 'here', listing_url(Listing.premium.first) %>.
</p>

<p>
  At only $59 per year it's an easy and low cost way to boost your online presence.
</p>

<p>
  As a new member we would like to offer you a discount for the first year. Use FIRSTYEAR discount code at checkout to receive $10 off.
</p>

<p>
  If you want to update your current listing, you can complete your account setup in seconds via this <%= link_to 'unique link', accept_user_invitation_url(invitation_token: @token), class: "btn btn-primary" %>.
</p>

<p>
  After accepting the invite, you can update your free listing <%= link_to 'here', edit_my_listing_url(@listing) %>.
</p>

<p>We're here to help, so feel free to email us if you need help or have any questions.</p>

<p>Kind regards,</p>

<p>Kerrianne</p>
<p>CEO, things for kids</p>
