<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="630" data-type="parallax" data-bg-image=<%= asset_url("content/registration-parallax.jpg") %> data-bg-image-mobile=<%= asset_url("content/registration-parallax.jpg") %>>
  <div class="ct-mediaSection-inner">
    <div class="container mt">
      <div class="error-message">
        <%= devise_error_messages! %>
      </div>

      <div class="col-md-8">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ct-formRegister pull-right" }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <div class="ct-form--label--type2">
              <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                  <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                      <i class="fa fa-user"></i>
                    </button>
                  </div>
                </div>

                <div class="ct-u-displayTableCell text-center">
                  <span class="text-uppercase">Change your password</span>
                </div>
              </div>
            </div>

            <div class="ct-form--item ct-u-marginBottom20">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control input-lg" %>
            </div>

            <div class="ct-form--item ct-u-marginBottom20">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg"%>
            </div>

            <div class="ct-form--item">
              <%= f.submit "Change my password", class: "btn btn-warning center-block" %>
            </div>
          </div>

          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
