<%= search_form_for @q, url: root_path, html: { class: css_class, role: "form" } do |f| %>
  <div class="form-group mt-40">
    <div class="ct-u-displayTableVertical ct-u-marginBottom20">
      <div class="row">
        <div class="col-md-12">
          <div class="ct-u-displayTableCell">
            <div class="col-md-8 text-center">
              <div class="ct-u-displayTableCell">
                <input type="text" name= "age_range" id="age_range" class="slider" value="" data-slider-handle="square" data-slider-min="5" data-slider-max="10" data-slider-step="1" data-slider-value="[<%= @min_age %>, <%= @max_age %>]"/>
                <label class="text-center center-block">Age range</label>
                <%= f.hidden_field :min_age_gteq, value: @min_age, class: "min-age" %>
                <%= f.hidden_field :max_age_lteq, value: @max_age, class: "max-age" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= label_tag "Activity Type" %>
        </div>
      </div>

      <% Listing.activity_types.each do |key, value| %>
        <div class="row">
          <div class="checkbox">
            <label>
              <%= f.check_box "activity_type_in", { class: "activity-check", include_hidden: false, multiple: true }, value %>
              <%= key %>
            </label>
          </div>
        </div>
      <% end %>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <%= label_tag "Available Days" %>
        </div>
      </div>

      <% Listing::WEEK_DAYS.each do |day| %>
        <div class="row">
          <div class="checkbox">
            <label>
              <%= check_box_tag "days_available[]", day, nil, { class: "activity-check", include_hidden: false, multiple: true } %>
              <%= day %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
