<div id="mobile-nav">
  <nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
      <li class="dropdown <%= active_class root_path %>"><%= link_to "Home", root_path %></li>
      <li class="dropdown <%= active_class pricing_path %>"><%= link_to "Pricing", pricing_path %></li>
      <li class="dropdown <%= active_class about_us_path %>"><%= link_to "About us", about_us_path %></li>
      <li class="dropdown <%= active_class contact_us_path %>"><%= link_to "Contact Us", contact_us_path %></li>

      <% if user_signed_in? %>
        <li class="dropdown">
          <a>Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "#{current_user.email}", edit_user_path(current_user) %></li>
            <li><%= link_to "My Listings", my_listings_path %></li>
            <li><%= link_to "Change Password", edit_user_path(current_user) %></li>
            <li><%= link_to "Log Out",  destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li class="dropdown <%= active_class new_user_session_path %>">
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user"></i> Login
          <% end %>
        </li>

        <li class="dropdown <%= active_class new_user_registration_path %>">
          <%= link_to new_user_registration_path do %>
            <i class="fa fa-plus-square"></i> Register
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if controller_name == "listings" && action_name == "index" %>
   <%= render "shared/filters", css_class: "ct-searchFormMobile ct-u-marginBottom50" %>
  <% end %>
</div>
