<div id="navbar">
  <div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "content/logo.png", alt: "Estato" %>
    <% end %>
    <button type="button" class="searchForm-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span><i class="fa fa-search"></i></span>
    </button>
  </div>

  <div class="ct-topBar ">
    <div class="container ct-u-margin0">
      <div class="row">
        <div class="col-sm-7 col-md-8">
          <div class="ct-panel--contact ct-panel--left">
            <div class="ct-panel--item ct-email">
              <a href="#"><i class="fa fa-envelope-o"></i> example@example.com</a>
            </div>

            <div id="ct-js-navSearch">
              <i class="fa fa-search"></i>
              <input placeholder="Search ..." required type="text" name="field[]" class="form-control input-lg ct-input--search">
            </div>

            <div class="ct-navbar-search">
              <form role="form">
                <button class="ct-navbar-search-button" type="submit">
                  <i class="fa fa-search fa-fw"></i>
                </button>
                <div class="form-group">
                  <input id="search" placeholder="Search ..." required type="text" class="form-control input-lg">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-md-4">
          <div class="ct-panel--user ct-panel--right text-right">
            <div class="ct-panel--item ct-email">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-user"></i> Login
              <% end %>
            </div>

            <div class="ct-panel--item ct-email">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-plus-square"></i> Register
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar yamm ct-navbar--noDecoration" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container ct-u-margin0">
      <div class="navbar-header ct-panel--navbar">
        <%= link_to root_path do %>
          <%= image_tag "content/logo.png", alt: "logo" %>
        <% end %>
      </div>
      <div class="ct-panelBox">
        <div class="ct-panel--text ct-panel--navbar ct-fw-600"><a href="#">8 534 Listings</a></div>
        <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled">
          <li>
            <%= link_to "https://www.facebook.com/createITpl" do %>
              <div class="ct-socials ct-socials--circle">
                <i class="fa fa-facebook"></i>
              </div>
              <% end %>
            </li>

            <li>
              <%= link_to "https://twitter.com/createitpl" do %>
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              <% end %>
            </li>

            <li>
              <%= link_to "#" do %>
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-instagram"></i>
                </div>
              <% end %>
            </li>
          </ul>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ct-navbar--fadeInUp">
          <li class="dropdown active"><%= link_to "Home", root_path %></li>
          <li class="dropdown"><%= link_to "Add a listing", root_path %></li>
          <li class="dropdown"><%= link_to "About us", "#" %></li>
          <li class="dropdown"><%= link_to "Contact Us", "#" %></li>
        </ul>
      </div>
      <div class="ct-shapeBottom"></div>
    </div>
  </nav>
</div>
