<% if session[:zip_code].blank? %>
  <%= render "zip_code" %>
<% end %>

<section>
  <div class="container" id="filters" style="width: 100%">
    <div class="row">
      <div class="col-lg-4 col-lg-push-8 map-style" id="map">
        <div class="ct-js-googleMap ct-googleMap ct-googleMap-2col ct-js-googleMap--group" data-location="Richmond" data-icon="assets/images/marker-house.png" data-display-desc="true" data-zoom="14" data-height="1750" >
        </div>
      </div>
      <div class="col-lg-3 col-lg-pull-4">
        <div class="ct-u-marginTop80 hidden-md hidden-lg"></div>
        <%= search_form_for @q, url: root_path, remote: true, html: {class: "form ct-formSearch--fullWidth ct-u-marginBottom50 ct-u-paddingTop30", role: "form"} do |f| %>
          <div class="form-group">
            <div class="ct-u-displayTableVertical ct-u-marginBottom20">
              <div class="row">
                <div class="col-md-12">
                  <div class="ct-form--item">
                    <%= label_tag "Age range" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="ct-u-displayTableCell">
                    <div class="col-md-8 text-center">
                      <input type="text" class="slider ct-js-sliderAmount"  id="age-range" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="[2, 5]">
                      <label class="pull-left">1</label>
                      <label class="pull-right">10</label>
                    </div>
                  </div>
                </div>
              </div>

              <% Listing.activity_types.each do |key, value| %>
                <div class="row">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box "activity_type_in", { class: "activity-check", include_hidden: false, multiple: true },value %>
                      <%= key %>
                    </label>
                  </div>
                </div>
              <% end %>
              <hr>

              <div class="row">
                <div class="col-md-12">
                  <%= label_tag "Available Days" %>
                </div>
              </div>

              <% Listing::WEEK_DAYS.each do |day| %>
                <div class="row">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box "days_available_in", { class: 'activity-check', include_hidden: false, multiple: true },  day %>
                      <%= day %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-lg-5 col-lg-pull-4">
        <div class="row">
          <div id = "listings">
            <%= render partial: "home/listing", collection: @listings  %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none">
      <%= paginate @listings if @listings.present? %>
    </div>

    <div class="ct-u-marginBottom30 hidden-lg hidden-md"></div>
  </div>
</section>

<div id="loader">
</div>

<% content_for :js_init do %>
  SearchFilters.fetch_lists();
  SearchFilters.load_lists();
  <% if session[:zip_code].present? %>
    SearchFilters.disable_content(false);
  <% else %>
    SearchFilters.disable_content(true);
  <% end %>
  Map.initmap(<%= "#{@listings.ids}" if @listings.present? %>);
<% end %>
