<div id="basic_info_fields" class=<%= add_class %>>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="form-group ">
        <%= f.hidden_field :listing_type, value: params[:type] %>

        <div class="ct-u-marginBottom40">
          <%= f.label :business_name, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_field :business_name, class: "form-control input-lg ct-input--border" %>
        </div>

        <div class="ct-u-marginBottom40">
          <%= f.label :manager_name, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_field :manager_name, class: "form-control input-lg ct-input--border" %>
        </div>

        <div class="ct-u-marginBottom40">
          <%= f.label :manager_job_title, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_field :manager_job_title, class: "form-control input-lg ct-input--border" %>
        </div>

        <div class="ct-u-marginBottom40">
          <%= f.label :description, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_area :description, class: "form-control input-lg ct-input--border count-words", data: { max_words: description_max_words(params[:type]), count_field: '#description-words' } %>
          <div id="description-words" class="pull-right"></div>
        </div>

        <div class="ct-u-marginBottom40">
          <%= f.label :short_description, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_area :short_description, size: "30x10", class: "form-control input-lg ct-input--border short-description count-words", placeholder: "Max 20 words", data: { max_words: '20', count_field: '#short-description-words' } %>
          <div id="short-description-words" class="pull-right"></div>
        </div>

        <div class="ct-u-marginBottom40">
          <%= f.label :website, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_field :website, class: "form-control input-lg ct-input--border" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-12 text-center">
      <label id="basic-range-label" class="age-range-label"><%= render_age_range(f.object) %></label>
      <div id="basic-info-range" class="slider-range" data-min="<%= render_min_age(f.object) %>" data-max="<%= render_max_age(f.object) %>"></div>
      <label class="text-center center-block">Age range</label>
      <%= f.hidden_field :min_age, { class: "min-age" } %>
      <%= f.hidden_field :max_age, { class: "max-age" } %>
    </div>

    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label  :activity_type, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.select :activity_type, Listing.activity_types.keys, { include_blank: true }, class: "ct-js-select ct-select2--light ct-select-lg chosen-select" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :email, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.email_field :email, class: "form-control input-lg ct-input--border" %>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :phone, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.phone_field :phone, class: "form-control input-lg ct-input--border" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Add logo</label>
        <ul class="list-unstyled ct-productBox--thumbnail ct-u-marginBottom50">
          <li>
            <div class="col-sm-6 col-md-6">
              <%= f.file_field :logo, { id: "file-logo", class: "images ct-media--content" }  %>
            </div>

            <div class="ct-media--left">
              <%= image_tag "content/gallery-thumbnail-1.jpg", size: "92x71", alt: "", id: "image_tag-logo" %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :address, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.text_field :address, class: "form-control input-lg ct-input--border geocomplete" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :city, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.text_field :city, value: render_city(f.object), class: "form-control input-lg ct-input--border" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :state, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.select :state, states, { include_blank: true, selected: render_state(f.object) }, { class: "ct-js-select ct-select2--light ct-select-lg chosen-select" } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group ct-u-marginBottom40">
        <%= f.label :postcode, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.number_field :postcode,  class: "form-control input-lg ct-input--border" %>
      </div>
    </div>

    <div class="col-md-12 ct-container--Big text-right">
      <% if edit_action? %>
        <div class="col-md-6 pull-left">
          <%= link_to "cancel", edit_my_listing_path(@listing), class: "btn btn-link pull-left" %>
        </div>

        <div class="col-md-6 pull-right">
          <%= f.submit "Update", class: "btn btn-warning pull-right" %>
        </div>
      <% else %>
        <div class="col-md-6 pull-right">
          <%= f.submit "Continue", class: "btn btn-warning", id: "continue-step2" %>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
