<div id="images_form_fields" class=<%= add_class %>>
  <div class="col-md-8 col-lg-6">
    <div class="form-group ">
      <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Upload featured images</label>
      <ul class="list-unstyled ct-productBox--thumbnail ct-u-marginBottom50">
        <% f.object.images.each do |image| %>
          <li>
            <div class="ct-media--left">
              <%= image_tag image, size: "92x71" %>
            </div>

            <div class="ct-media--content">
              <span><%= image.filename %></span>
              <%= link_to listing_image_path(id: image.id, listing_id: f.object.id), method: :delete do %>
                <i class="fa fa-trash-o"></i> Delete
              <% end %>
            </div>
          </li>
        <% end %>

        <% (8 - f.object.images.count).times do |img| %>
          <li>
            <div class="col-sm-12 col-md-12">
              <%= f.file_field :images, { multiple: false, direct_upload: true, name: "listing[images][]", id: "img-#{img}", class: "images ct-media--content" }  %>
            </div>

            <div class="ct-media--left">
              <%= image_tag "content/gallery-thumbnail-1.jpg", size: "92x71", alt: "", id: "image_tag-#{img}" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-4 col-lg-6">
    <div class="col-md-12">
      <div class="form-group ct-u-marginBottom40">
        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Add logo</label>
        <ul class="list-unstyled ct-productBox--thumbnail ct-u-marginBottom50">
          <li>
            <div class="col-sm-12 col-md-12">
              <%= f.file_field :logo, { direct_upload: true, multiple: false, id: "file-logo", class: "images ct-media--content" }  %>
            </div>

            <div class="ct-media--left">
              <%= image_tag logo_path(f.object), size: "92x71", alt: "", id: "image_tag-logo" %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :facbook_url, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.text_field :facbook_url, class: "form-control input-lg ct-input--border ct-u-marginBottom40" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :instagram_url, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
        <%= f.text_field :instagram_url, class: "form-control input-lg ct-input--border ct-u-marginBottom40" %>
      </div>
    </div>

    <% if upgrade_action? %>
      <div class="col-md-12">
        <div class="ct-u-marginBottom40">
          <%= f.label :description, class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= f.text_area :description,  class: "form-control input-lg ct-input--border" %>
        </div>
      </div>

      <div class="col-md-12 ct-u-marginTop50">
        <%= render 'shared/payment_fields' %>

        <div class="ct-u-marginBottom40 mt-40">
          <%= label_tag :coupon, 'Have Coupon?' , class: "ct-fw-600 text-uppercase ct-u-marginBottom10" %>
          <%= text_field_tag :coupon, nil, class: "form-control input-lg ct-input--border", autocomplete: :off %>
        </div>
      </div>

      <div class="ct-u-marginTop40">
        <div class="col-md-12 ct-container--Big ct-u-marginTop50">
          <div class="">
            <%= f.submit "Upgrade to premium", class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-12 ct-container--Big">
        <% if edit_action? %>
          <div class="col-md-6 pull-left">
            <%= link_to "cancel", edit_my_listing_path(@listing), class: "btn btn-link pull-left" %>
          </div>

          <div class="col-md-6 pull-right">
            <%= f.submit "Update", class: "btn btn-warning pull-right" %>
          </div>
        <% else %>
          <div class="col-md-6 pull-left">
            <%= link_to "Go Back", previous_wizard_path(type: @listing.listing_type), class: "btn btn-link pull-left" %>
          </div>

          <div class="col-md-6 pull-right">
            <%= f.submit "Continue", class: "btn btn-warning pull-right", id: "continue-step4" %>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
