<section class="ct-u-paddingTop50 ct-u-paddingBottom60" id="my-listings">
  <div class="container">
    <div class="row mt-sm-35 ct-u-marginBottom20">
      <div class="col-md-3 pull-right">
        <div class="ct-form--item">
          <%= link_to "Add a Free Listing", listings_path(listing_type: 'free'), class: "btn btn-warning center-block", method: :post %>
        </div>
      </div>
    </div>

    <div class="row mt-sm-35 ct-u-marginBottom20">
      <div class="col-md-3 pull-right">
        <div class="ct-form--item mt-4">
          <%= link_to "Add a Premium Listing", listings_path(listing_type: 'premium'), class: "btn btn-warning center-block", method: :post %>
        </div>
      </div>
    </div>

    <div class="ct-section--products">
      <div class="row">
        <div class="col-md-12">
          <div class="ct-sortingBar ct-u-paddingRight10 ct-u-paddingLeft10 ct-u-marginBottom20">
            <div class="ct-sortingTitle pull-left page-title">
              <h4 class="text-uppercase">My Listings</h4>
            </div>

            <ul class="ct-showPages list-inline list-unstyled pull-right ct-u-paddingBoth15">
              <li class="ct-showElements is-active" id="ct-js-showTiles">
                <a href="#">
                  <i class="fa fa-th fa-fw"></i>
                </a>
              </li>
              <li class="ct-showElements" id="ct-js-showList">
                <a href="#">
                  <i class="fa fa-th-list fa-fw"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="row ct-js-search-results ct-showProducts--default" id="listings">
            <% @listings.each_with_index do |listing, index| %>
              <% if index%4 == 0 %>
                <div class="row"></div>
              <% end %>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <%= link_to listing do %>
                    <div class="ct-main-content">
                      <div class="ct-imageBox list-height">
                        <%= render_logo listing.logo %>
                      </div>

                      <div class="ct-main-text">
                        <div class="ct-product--tilte">
                          <%= listing.full_address %>
                        </div>

                        <div class="ct-product--price">
                          <span><%= listing.price %></span>
                        </div>

                        <div class="ct-product--description">
                          <%= truncate_short_description listing.short_description %>
                        </div>
                      </div>

                      <hr>
                      <div class="col-md-12">
                        <%= link_to edit_my_listing_path(listing), class: "btn btn-md btn-default ml-10" do %>
                          <i class="fa fa-edit"></i> Edit
                        <% end %>

                        <%= link_to my_listing_path(listing), method: :delete, class: "btn btn-md btn-default ml-10" do %>
                          <i class="fa fa-trash-o"></i> Delete
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="ct-pagination text-center">
            <%= paginate @listings %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :js_init do %>
  MyListings.init();
<% end %>
