<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Things For Kids">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="keywords" content="Things for Kids">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <%= favicon_link_tag "favicon.ico" %>
    <title>Thingsforkids</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyARuFVkZ7z_nGJQbPfySrhhqEOsVFYj0vI&libraries=places', 'data-turbolinks-track': 'reload' %>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  </head>

  <body class="ct-headroom--scrollUpBoth cssAnimate">
    <%= render "shared/mobile_nav" %>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <%= render "shared/navbar" %>
      <%= render "shared/messages" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>

  <script type="text/javascript">
    $(function() {
      <%= yield :js_init %>
    });
  </script>
  <%= yield :javascript %>
</html>
